body {
    height: 100vh;
    margin: 0;
    background-color: aliceblue;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

* {
    box-sizing: border-box;
}

.notifications-wrap {
    height: 100%;
    overflow-y: auto;
    width: 500px;
    background-color: azure;
    padding-right: 20px;
    padding-left: 20px;
}

.notification-item {
    width: 100%;
    height: 150px;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 15px;
    color: white;
}

.toast {
    position: relative;
}

.item {
    align-items: flex-start;
    justify-content: space-between;
}

.toast-body {
    color: white;
}

.btn-close {
    margin-top: 10px !important;
    margin-right: 10px !important;
    color: #fff !important;
}

.SUCCESS {
    background-color: #4ba256 !important;
}

.ERROR {
    background-color: #c64242 !important;
}

.WARN {
    background-color: #de954b !important;
}

.INFO {
    background-color: #3eabc6 !important;
}

.toast-line {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: white;
    animation-name: animateThis;
    animation-fill-mode: forwards;
  }
  @keyframes animateThis {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }